In [2]:
import pandas as pd

def load_data():
    """ Load the cleaned data with latitudes, longitudes & timestamps """
    df = pd.read_csv("three_years_weather.csv")
    #df["datetime"] = pd.to_datetime(df["datetime"])
    return df.head()

In [3]:
df=load_data()
df.head()

,Unnamed: 0,activate,name,reservations_count,light,total_bases,free_bases,number,longitude,no_available,...,weather_main,weekday,year,month,hour_sin,hour_cos,weekday_sin,weekday_cos,month_sin,month_cos
0,0,1,Puerta del Sol A,1,0,24,21,1a,-3.702425,0,...,Clear,6,2018,9,-0.258819,0.965926,-0.781831,0.62349,0.866025,-0.5
1,1,1,Puerta del Sol A,0,0,24,17,1a,-3.702425,0,...,Clear,6,2018,9,-0.500000,0.866025,-0.781831,0.62349,0.866025,-0.5
2,2,1,Puerta del Sol A,0,2,24,13,1a,-3.702425,0,...,Clear,6,2018,9,-0.707107,0.707107,-0.781831,0.62349,0.866025,-0.5
3,3,1,Puerta del Sol A,0,2,24,10,1a,-3.702425,0,...,Clear,6,2018,9,-0.866025,0.500000,-0.781831,0.62349,0.866025,-0.5
4,4,1,Puerta del Sol A,0,1,24,5,1a,-3.702425,0,...,Clear,6,2018,9,-0.965926,0.258819,-0.781831,0.62349,0.866025,-0.5

In [4]:
df.drop(columns=['Unnamed: 0','Unnamed: 0.1','datetime'],inplace=True)

In [5]:
df['id']

0    2018-09-30T23:42:38.647290
1    2018-09-30T22:42:34.124619
2    2018-09-30T21:42:33.535879
3    2018-09-30T20:42:31.072733
4    2018-09-30T19:42:30.092827
Name: id, dtype: object

In [6]:
df['id']=df['id'].apply(lambda x: x.replace('T',' '))

In [7]:
df['id']=pd.to_datetime(df['id'], format='%Y-%m-%d %H:%M:%S', errors='ignore',exact=True)

In [ ]:
#df['id'].dt.strftime['%Y-%m-%d %H:%M:%S']

In [11]:
df['id'].astype('datetime64[s]')

0   2018-09-30 23:42:38
1   2018-09-30 22:42:34
2   2018-09-30 21:42:33
3   2018-09-30 20:42:31
4   2018-09-30 19:42:30
Name: id, dtype: datetime64[ns]

In [12]:
df['id'].min()

Timestamp('2018-09-30 19:42:30.092827')